# Entorno virtual
env/
venv/
ENV/
.venv/

# Archivos de Python compilados
*.pyc
__pycache__/

# Archivos del entorno de desarrollo
*.sqlite3
*.log
*.pot
*.py[cod]
*.swp
*~

# Configuración personal
.vscode/
.idea/
*.code-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de migración cacheados
**/__pycache__/
*.py[cod]

# Archivos sensibles o locales
.env
*.env
secrets.json

# Carpeta de static generada (si usas collectstatic)
staticfiles/
static/

# Archivos generados por Django
media/
db.sqlite3

# Archivos de prueba
coverage.xml
htmlcov/
.tox/
.nox/
pytest_cache/
