{% comment %} {% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Eliminar Publicación</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">¿Estás seguro de que deseas eliminar esta publicación?</h5>
            <p class="card-text"><strong>Título:</strong> {{ object.titulo }}</p>
            <p class="card-text"><strong>Sucursal:</strong> {{ object.sucursal }}</p>
            <p class="card-text"><strong>Fecha Publicación:</strong> {{ object.fecha_publicacion|date:"d/m/Y" }}</p>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
                <a href="{% url 'donaciones:publicacion_detail' object.pk %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %} {% endcomment %}