{% extends 'usuarios/base.html' %}

{% block title %}Eliminar Solicitud | DONA{% endblock %}

{% block content %}
<div class="registro-container">
    <div class="registro-box">
        <h2>Eliminar Solicitud</h2>
        <p>¿Estás segura de que deseas eliminar esta solicitud?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Sí, eliminar</button>
            <a href="{% url 'solicitudes:lista_solicitudes' %}" class="btn-cancel">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
