{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}Eliminar Comentario | DONA{% endblock %}

{% block content %}
<div class="registro-container">
    <div class="registro-box">
        <div class="logo">
            <img src="{% static 'img/Dona.jpg' %}" alt="Logo DONA">
            <h1>DONA</h1>
        </div>
        <h2>Eliminar Comentario</h2>
        <p>¿Estás segura de que quieres eliminar este comentario?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
            <a href="{% url 'comentarios:lista_comentarios' %}" class="btn-cancel">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
