{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}Formulario Comentario | DONA{% endblock %}

{% block content %}
<div class="registro-container">
    <div class="registro-box">
        <div class="logo">
            <img src="{% static 'img/Dona.jpg' %}" alt="Logo DONA">
            <h1>DONA</h1>
        </div>
        <h2>{% if object %}Editar{% else %}Nuevo{% endif %} Comentario</h2>

        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Datos del Comentario</legend>
                {{ form.as_p }}
            </fieldset>
            <button type="submit">Guardar</button>
            <a href="{% url 'comentarios:lista_comentarios' %}" class="btn-cancel">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
