{% comment %} {% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}Eliminar Donador | DONA{% endblock %}

{% block content %}
<div class="registro-container">
    <div class="registro-box">
        <h2>Confirmar Eliminación</h2>
        <p>¿Estás seguro que deseas eliminar a "{{ object.nombre_lugar }}"?</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn-delete">Confirmar Eliminación</button>
            <a href="{% url 'usuarios:lista_donadores' %}" class="btn-cancel">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %} {% endcomment %}