{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}Formulario Administrador | DONA{% endblock %}

{% block content %}
<div class="container">
    <h2>{% if form.instance.pk %}Editar Administrador{% else %}Nuevo Administrador{% endif %}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn">Guardar</button>
        <a href="{% url 'usuarios:lista_administradores' %}" class="btn-cancel">Cancelar</a>
    </form>
</div>
{% endblock %}
